{% extends 'base.html' %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}"> Main </a></li>
    <li class="breadcrumb-item"><a href="{% url 'history_main' account.account_id %}">{{ account.account_name }}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'accountListUser' account.account_id %}">{{ account.account_name }} User List</a></li>
    <li class="breadcrumb-item active">{{ account.account_name }} Add User</a></li>
{% endblock %}

{% block contents %}

    {% if user_list == 0 %}
        <h3>초대할 수 있는 사용자가 없습니다.</h3>
    {% else %}

        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">User Id</th>
                    <th scope="col">User Email</th>
                    <th scope="col" align="left">Add Check</th>
                </tr>
            </thead>
            <tbody>
                {% for i in user_list %}
                    <tr>
                        <td> {{ i.username }} </td>
                        <td> {{ i.email }} </td>
                        <td align="center">
                            <input type="checkbox" class="checkBox" aria-label="Checkbox for following text input " value="{{ i.pk }}" name="user[]">
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div id="add_alert" class="alert alert-danger" role="alert" style="display:none">
            추가할 사용자를 선택해 주세요.
        </div>
        <a class="btn btn-secondary" role="button" style="float: right;" onclick="active()">Add User</a>
    {% endif %}

    <!-- for paging fbv -->
    {% if user_list.has_other_pages %}
        <nav aria-label="Account pagination" class="mb-4">
            <ul class="pagination">
                {% if user_list.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ user_list.previous_page_number }}">Previous</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">Previous</span>
                    </li>
                {% endif %}

                {% for page_num in user_list.paginator.page_range %}
                    {% if user_list.number == page_num %}
                        <li class="page-item active">
                            <span class="page-link">
                                {{ page_num }}
                                <span class="sr-only">(current)</span>
                            </span>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                        </li>
                    {% endif %}
                    {% endfor %}

                    {% if user_list.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ user_list.next_page_number }}">Next</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <span class="page-link">Next</span>
                        </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}


    <script language="JavaScript">

        function active(){
            temp = '';
            ul = ''
            var size = document.getElementsByName("user[]").length;
            for(var i = 0; i < size; i++){
                if(document.getElementsByName("user[]")[i].checked == true){
                    val = document.getElementsByName("user[]")[i].value;
                    temp = ''
                    temp += val+'_';
                    ul += temp
                }
            }
            if (temp.length == 0){
                x = document.getElementById("add_alert");
                x.style.display = "block";
                return;
            }
            document.location.href = "{% url 'sendAccountInvite' account.account_id 'temp' %}".replace(/temp/,ul);
        }
    </script>
{% endblock %}