{% extends 'base.html' %}

<!--통화 및 시간표시 기능-->
{% load humanize %}

{% block stylesheet %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}"> Main </a></li>
    <li class="breadcrumb-item"><a href="{% url 'history_main' name.pk %}">{{ name.account_name }} </a></li>
    <li class="breadcrumb-item active"> 결산하기 </li>
{% endblock %}

{% block contents %}
    <nav class="navbar navbar-light" style="background-color: #e3f2fd; margin-bottom: 10px;">
        <h2>{{ year }} 년 {{ month }} 월달 현재 누적금액</h2>
            {% if history_name == 'k' %}
        <h2>{{ sum|intcomma }}원</h2>
            {% else %}
        <h2>{{ sum|intcomma }}엔</h2>
            {% endif %}
    </nav>

    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            {% for i in user_list %}
                {% if i.user_id.username == user.username %}
                    <a class="nav-item nav-link active" id="nav-home-tab_{{ i.user_id }}" data-toggle="tab" href="#nav-{{ i.user_id }}" role="tab" aria-controls="nav-{{ i.user_id }}" aria-selected="true">
                        <input type="hidden" id="initial_id" value="{{i.user_id}}">
                        {{ i.user_id }}  {{ div|intcomma }}
                        {% if history_name == 'k' %}
                            원
                        {% else %}
                            엔
                        {% endif %}
                    </a>
                {% else %}
                    <a class="nav-item nav-link" id="nav-home-tab_{{ i.user_id }}" data-toggle="tab" href="#nav-{{ i.user_id }}" role="tab" aria-controls="nav-{{ i.user_id }}" aria-selected="false">
                        {{ i.user_id|intcomma }}  {{ div|intcomma}}
                        {% if history_name == 'k' %}
                            원
                        {% else %}
                            엔
                        {% endif %}
                    </a>
                {% endif %}
            {% endfor %}
        </div>

    </nav>

    <div class="tab-content" id="nav-tabContent">
        {% for i in user_list %}
            {% if i.user_id.username == user.username %}
                <div class="tab-pane fade show active" id="nav-{{ i.user_id }}" role="tabpanel" aria-labelledby="nav-home-tab">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col" class="table-info">Use History</th>
                                <th scope="col" class="table-info">Price</th>
                                <th scope="col" class="table-info">Pay</th>
                                <th scope="col" class="table-info">Writer</th>
                                <th scope="col" class="table-info">Create at</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in history %}
                                <tr>
                                    <td scope="row">
                                        <input type="checkbox" class="checkbox" value="{{i.pk}}" onclick="get_price({{i.val}})" checked> {{ i.use_history }}
                                    </td>
                                    <td>
                                        {{ i.price|intcomma }}
                                    </td>
                                    <td>
                                        {{ i.val|intcomma }}
                                    </td>
                                    <td>
                                        {{ i.user }}
                                    </td>
                                    <td>
                                        {{ i.create_at|naturaltime }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <div class="tab-pane fade" id="nav-{{ i.user_id }}" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col" class="table-info">Use History</th>
                                <th scope="col" class="table-info">Price</th>
                                <th scope="col" class="table-info">Pay</th>
                                <th scope="col" class="table-info">Writer</th>
                                <th scope="col" class="table-info">Create at</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in history %}
                                <tr>
                                    <td scope="row">
                                        <input type="checkbox" class="checkbox" value="{{i.pk}}" onclick="get_price({{i.val}})" checked> {{ i.use_history }}
                                    </td>
                                    <td>
                                        {{ i.price|intcomma }}
                                    </td>
                                    <td>
                                        {{ i.val|intcomma }}
                                    </td>
                                    <td>
                                        {{ i.user }}
                                    </td>
                                    <td>
                                        {{ i.create_at|naturaltime }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
        {% endfor %}
    </div>

<script>
    var present_tab = "";
    var tab_full_name = "";
    var money_flag = "";
    var tab_id = "";
    var my_id = document.getElementById("initial_id").value;
    var complete_tab = "";
    var con_id = "nav-home-tab_"

    function get_price(money){
        var checked_flag = $(".checkbox").prop('checked');

        var tab_len = present_tab.length;

        if (tab_len == 0 ){
            tab_name_f = $(".nav-tabs .active").text();
            tab_full_name = origin_tab(tab_name_f, 0);
        } else {
            tab_name_f = present_tab;
            tab_full_name = origin_tab(tab_name_f, 1);
        }

        flag_money(tab_name_f);

        var id_money = tab_user_id_money(tab_full_name);
        tab_id = id_money[0];
        var remove_comma = rm_comma(id_money[1])

        var tab_tag = document.getElementsByClassName("nav-link");
        var j;


        for (j=1; j<tab_tag.length; j++) {
            var user_id_val = tab_tag[j].id;
            if (user_id_val !=  con_id + tab_id){
                var login_id = con_id + my_id;
                var tab_origin = document.getElementById(user_id_val).text;
                var temp_name = "";

                if (user_id_val == login_id) {
                    temp_name = origin_tab(tab_origin, 0);
                } else {
                    temp_name = origin_tab(tab_origin, 1);
                }

                var id_money_1 = tab_user_id_money(temp_name);
                var tab_id_1 = id_money_1[0];
                var remove_comma_1 = rm_comma(id_money_1[1])

                if (checked_flag == true){
                    adj = Number(remove_comma_1) + Number(money);
                } else {
                    adj = Number(remove_comma_1) - Number(money);
                }
                var insert_comma = adj.toLocaleString();

                complete_tab = tab_id_1 + " " + insert_comma + " " + money_flag;
                document.getElementById(user_id_val).text = complete_tab;
            }
        }
        if (checked_flag == true){
            adj = Number(remove_comma) - Number(money);
        } else {
            adj = Number(remove_comma) + Number(money);
        }
        var insert_comma = adj.toLocaleString();
        complete_tab = tab_id + " " + insert_comma + " " + money_flag;

        var temp = con_id + tab_id;

        document.getElementById(temp).text = complete_tab;

    }

    function rm_comma(val) {
        while(val.search(",") >=0){
            val = (val + "").replace(",","")
        }
        return val;
    }

    function tab_user_id_money(val){
        var num = val.search(" ");
        var id = val.slice(0, num);
        var money = val.slice(num+2);

        var flag = money.search(money_flag);

        if ( flag > 0 ) {
            money = money.slice(0, flag-1);
        }
        return [id, money]
    }

    function flag_money(val){
        var money_k = val.search("엔");
        if (money_k > 0){
            money_flag = "엔";
        } else {
            money_flag = "원";
        }
    }

    function origin_tab(val, flag) {
        var first_slice = val;
        var order_flag = val.search(" ");
        if (order_flag == 1) {
            if (flag == 0){
                first_slice = first_slice.slice(50);
            } else {
                first_slice = first_slice.slice(25);
            }

            var find_enter = first_slice.search(/\r|\n/);
            var math = first_slice.slice(0, find_enter);

        } else {
            var math = first_slice;
        }
        return math;
    }

    $(document).ready(function(){
        $(".nav-item").click(function(){
            var id = $(this).text();
            present_tab = id;
        });
    });

</script>

{% endblock %}