{% extends 'base.html' %}

<!--통화 및 시간표시 기능-->
{% load humanize %}

{% block stylesheet %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}"> Main </a></li>
    <li class="breadcrumb-item"><a href="{% url 'history_main' name.pk %}">{{ name.account_name }} </a></li>
    <li class="breadcrumb-item active"> 결산하기 </li>
{% endblock %}

{% block contents %}
    <nav class="navbar navbar-light" style="background-color: #e3f2fd; margin-bottom: 10px;">
        <h2>{{ year }} 년 {{ month }} 월달 현재 누적금액</h2>
            {% if history_name == 'k' %}
        <h2>{{ sum|intcomma }}원</h2>
            {% else %}
        <h2>{{ sum|intcomma }}엔</h2>
            {% endif %}
    </nav>

    <table class="table table-sm">
        <thead>
            <tr>
                {% for i in user_list %}
                    <th scope="col" class="table-dark member" id="{{ i.user_id.username }}" >{{ i.user_id.username }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for i in user_list %}
                    <td class="table-light money" id="sum_{{ i.user_id.username }}">
                        {{ div|intcomma }}
                        {% if history_name == 'k' %}
                            원
                        {% else %}
                            엔
                        {% endif %}
                    </td>
               {% endfor %}
            </tr>
        </tbody>
    </table>

    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            {% for i in user_list %}
                {% if i.user_id.username == user.username %}
                    <a class="nav-item nav-link active" id="nav-home-tab_{{ i.user_id }}" data-toggle="tab" href="#nav-{{ i.user_id }}" role="tab" aria-controls="nav-{{ i.user_id }}" aria-selected="true">
                        {{ i.user_id }}
                    </a>
                {% else %}
                    <a class="nav-item nav-link" id="nav-home-tab_{{ i.user_id }}" data-toggle="tab" href="#nav-{{ i.user_id }}" role="tab" aria-controls="nav-{{ i.user_id }}" aria-selected="false">
                        {{ i.user_id|intcomma }}
                    </a>
                {% endif %}
            {% endfor %}
        </div>

    </nav>

    <div class="tab-content" id="nav-tabContent" style="background-color:white;">
        {% for i in user_list %}
            {% if i.user_id.username == user.username %}
                <div class="tab-pane fade show active" id="nav-{{ i.user_id }}" role="tabpanel" aria-labelledby="nav-home-tab">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col" class="table-info">Use History</th>
                                <th scope="col" class="table-info">Price</th>
                                <th scope="col" class="table-info">Pay</th>
                                <th scope="col" class="table-info">Writer</th>
                                <th scope="col" class="table-info">Create at</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in history %}
                                <tr>
                                    <td scope="row">
                                        <input type="checkbox" class="checkbox" value="{{i.pk}}" checked> {{ i.use_history }}
                                    </td>
                                    <td>
                                        {{ i.price|intcomma }}
                                    </td>
                                    <td>
                                        {{ i.val|intcomma }}
                                    </td>
                                    <td>
                                        {{ i.user }}
                                    </td>
                                    <td>
                                        {{ i.create_at|naturaltime }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <div class="tab-pane fade" id="nav-{{ i.user_id }}" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col" class="table-info">Use History</th>
                                <th scope="col" class="table-info">Price</th>
                                <th scope="col" class="table-info">Pay</th>
                                <th scope="col" class="table-info">Writer</th>
                                <th scope="col" class="table-info">Create at</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in history %}
                                <tr>
                                    <td scope="row">
                                        <input type="checkbox" class="checkbox" value="{{i.pk}}" checked> {{ i.use_history }}
                                    </td>
                                    <td>
                                        {{ i.price|intcomma }}
                                    </td>
                                    <td>
                                        {{ i.val|intcomma }}
                                    </td>
                                    <td>
                                        {{ i.user }}
                                    </td>
                                    <td>
                                        {{ i.create_at|naturaltime }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
        {% endfor %}
    </div>

<script>
    var div_list = [];
    var flag_money = "";

    var present_tab = "";
    var minus_list = [];
    var user_id = "";

    $(document).ready(function(){
        member_arr = document.getElementsByClassName("member");
        for (i=0; i<member_arr.length; i++){
            var id = member_arr[i].id;
            var sum = document.getElementById("sum_"+ id).innerHTML;
            var temp = rm_sum(sum);
            temp = ex_sum(temp);
            var t_temp = {
                id : id,
                div : Number(temp)
            }
            div_list.push(t_temp);
           /* console.log(div_list);*/
        }


        $(".nav-item").click(function(){
            var id = $(this).text();
            present_tab = id;
        });

        $(".checkbox").click(function(){
            var ch_val = $(this).prop("checked");
            var pk = $(this).val();
            var div_sum = $(this).parent().next().next().text();
            var temp_len = present_tab.length;

            rm_sum_i = rm_sum(div_sum);
            ex_sum_div = rm_comma(rm_sum_i);

            if (temp_len == 0){
                present_tab = $("#userMenu").text();
            }

            user_id = rm_blank(present_tab);


            /* pop or delete minus array */
            if (ch_val == false) {

                var length = minus_list.length;
                var user_len = div_list.length;
                if (length == 0){

                    var div_people = 0;
                    var i = 0
                    while (i < user_len){
                        if (div_list[i].id == user_id){
                            div_list[i].div = div_list[i].div - Number(ex_sum_div);
                            add_comma = div_list[i].div.toLocaleString();
                            complete = add_comma + " " + flag_money;
                            make_target = "sum_" + div_list[i].id;

                            document.getElementById(make_target).innerHTML = complete
                        } else {
                            div_people = div_people + 1;
                        }

                        i++ ;
                    }
                    var i = 0;
                    while ( i< user_len) {

                        if (div_list[i].id != user_id){
                            result = Number(ex_sum_div) / Number(div_people);
                            result_1 = Math.floor(result/10) * 10;
                            div_list[i].div = div_list[i].div + result_1;
                            add_comma = div_list[i].div.toLocaleString();

                            complete = add_comma + " " + flag_money;
                            make_target = "sum_" + div_list[i].id;

                            document.getElementById(make_target).innerHTML = complete
                        }

                        i++ ;
                    }

                } else {

                    var except = 0;
                    var div_people = user_len - 1;
                    var except_person = []

                    var i = 0;

                    while (i < length){
                        var tab = minus_list[i].tab;
                        var use_pk = minus_list[i].use_pk

                        if ( tab == user_id && use_pk == pk ) {
                            continue;
                        } else if ( tab != user_id && use_pk == pk ) {
                            div_people = div_people - 1;
                        }

                        i ++;
                    }

                    i = 0
                    while ( i < user_len ){
                        if (div_list[i].id == user_id){
                            div_list[i].div = div_list[i].div - Number(ex_sum_div);
                            add_comma = div_list[i].div.toLocaleString();
                            complete = add_comma + " " + flag_money;
                            make_target = "sum_" + div_list[i].id;

                            document.getElementById(make_target).innerHTML = complete
                        } else {

                            result = Number(ex_sum_div) / Number(div_people);
                            result_1 = Math.floor(result/10) * 10;
                            div_list[i].div = div_list[i].div + result_1;
                            add_comma = div_list[i].div.toLocaleString();

                            complete = add_comma + " " + flag_money;
                            make_target = "sum_" + div_list[i].id;

                            pass_flag = false;
                            j = 0;

                            for (j=0; j<length; j++){
                                t_id = minus_list[j].tab;
                                t_pk = minus_list[j].use_pk;
                                if (t_id == div_list[i].id && t_pk == pk){
                                    pass_flag = true;
                                    console.log(pass_flag);
                                    break;
                                }

                            }
                            if (pass_flag == false){
                                document.getElementById(make_target).innerHTML = complete
                            }

                        }

                        i++;

                    }

                }

                var obj = {
                    tab : user_id,
                    use_pk : pk
                }
                minus_list.push(obj);
            } else {
                var i = 0;
                for (i=0; i<minus_list.length; i++){
                    k = minus_list[i].tab;
                    j = minus_list[i].use_pk;
                    if (j == pk && k == user_id ) {
                        delete minus_list[i];
                    }
                }
            }

        });

    });

    function rm_sum(val){
        var temp = val;
        while (temp.search(" ") > 0 ){
            temp = (temp + "").replace(" ","")
        }
        temp = temp.replace(/\r|\n/, "");
        temp = temp.replace(/\r|\n/, "");
        temp = temp.replace(/\r|\n/, "");

        return temp;
    }

    function ex_sum(val){
        var j = val.search("엔");
        flag_money = "엔";

        if (j == -1){
            j = val.search("원");
            flag_money = "원";
        }
        var temp = val.slice(0, j);

        temp = rm_comma(temp);
        return temp;
    }

    function rm_comma(val){
        while(val.search(",") >=0){
            val = (val + "").replace(",","")
        }
        return val;
    }

    function rm_blank(val){
        var temp = val;
        while (temp.search(" ") > 0 ){
            temp = (temp + "").replace(" ","")
        }
        temp = temp.replace(/\r|\n/, "");
        temp = temp.replace(/\r|\n/, "");
        return temp;
    }


</script>

{% endblock %}