{% extends 'base.html' %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}"> Main </a></li>
    <li class="breadcrumb-item active">{{ name.account_name }}</li>
{% endblock %}

{% block contents %}
    {% if history is False %}

        <p>등록된 사용내역이 없습니다.</p>
        <a type="button" href="#" class="btn btn-success">사용내역 등록하기</a>
        <a type="button" href="{% url 'home' %}" class="btn btn-outline-warning">되돌아가기</a>

    {% else %}

    {% endif %}
{% endblock %}

