{% extends 'base.html' %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">Main</li>
{% endblock %}

{% block contents %}

    {% if list is False %}
        <h3>등록된 가계부가 없습니다.</h3>
        <a class="btn btn-success" href="{% url 'make_account' %}" role="button">가계부 만들기</a>
        <button type="button" class="btn btn btn-info">
            초대장
            <span class="badge badge-light">1</span>
            <span class="sr-only">unread messages</span>
        </button>
    {% else %}
        <table class="table table-striped">
            <thead class="thead-dark">
                <th scope="col">Account Book Name</th>
                <th scope="col">User Count</th>
                <th scope="col">Master User</th>
                <th scope="col">Create date</th>
            </thead>
            <tbody>
                 {% for item in list %}
                    <tr>
                        <td>
                            <a href="#">{{ item.account_id.account_name }}</a>
                        </td>
                        <td>{{ item.account_id.p_cnt }}</td>
                        <td>{{ item.account_id.create_user }}</td>
                        <td>{{ item.account_id.create_at }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    {% endif %}

{% endblock %}