{% extends 'base.html' %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}"> Main </a></li>
    <li class="breadcrumb-item"><a href="{% url 'history_main' info.account_id %}">{{ info.account_name }}</a></li>
    <li class="breadcrumb-item active"> {{ info.account_name }} User List</li>
{% endblock %}

{% block contents %}

    {% if user_list is False %}
        <h3>등록된 사용자가 없습니다.</h3>
        <a class="btn btn-warning" href="{% url 'addAccountUser' info.account_id %}" role="button">사용자 초대하기</a>
    {% else %}
        <a class="btn btn-warning" href="{% url 'addAccountUser' info.account_id %}" style="margin-bottom:3px;" role="button">사용자 초대하기</a>
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">User Id</th>
                    <th scope="col">User Email</th>
                    <th scope="col">Create at</th>
                </tr>
            </thead>
            <tbody>
                {% for i in user_list %}

                    {% if i.user_id.username != user.username%}
                        <tr>
                            <td> {{ i.user_id.username }} </td>
                            <td> {{ i.user_id.email }} </td>
                            <td> {{ i.create_at }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td> {{ i.user_id.username }} <span class="badge badge-light">Me</span></td>
                            <td> {{ i.user_id.email }} </td>
                            <td> {{ i.create_at }}</td>
                        </tr>

                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock %}